{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #5b6574;
    }

    form {
        width: 300px;
        margin: 0 auto;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
    }

    td {
        padding: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        box-sizing:border-box;
    }

    input[type="submit"] {
        background-color: #5b6574;
        color: white;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #727981;
    }
</style>

<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
