<style>
    .name-size {
        font-size: 24px;
        font-weight: bold; 
        
    }
</style>

<style>
    table {
        border-collapse: collapse; 
        width: 100%;
    }

    th, td {
        border: 2px double black; 
        padding: 8px;
        text-align: left; 
    }
</style>

{% extends 'base.html' %}

{% block content %}
    <h1>Identity</h1>

    <p class="name-size"> {{ name }}</p>

    <p>• kelas : {{ kelas }}</p>

    <p>• description : {{ description }} </p>


    <h1>Brain Inventory</h1>
    <p>Kamu menyimpan {{ total_amount }} item pada aplikasi ini</p>

    <table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% for data in datas %}
        <tr>
            <td>{{data.name}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.description}}</td>
            <td>{{product.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}